.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .controls {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 48px;
    width: 100%;
    text-align: center;

    .speech {
      flex-grow: 1;
    }

    button {
      position: absolute;
      margin-right: 16px;
      right: 0;
    }
  }
}
